.buttonPrimary {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  background: #135eea;
  color: white;
  text-align: center;
  padding: 1em 2em;
  border-radius: 0.2em;
  transition: all 0.2s linear;
  outline: none;
  font-size: inherit; }

.buttonPrimary:hover {
  background: #0b388c; }

.buttonPrimary:focus {
  box-shadow: 0 0 0 0.4em #296eee; }

.buttonPrimary:disabled {
  background: grey; }
