.container {
  background: #ddd;
  min-height: 100vh;
  display: flex;
}

.sideBar {
  border: solid 3px #bbb;
}

.main {
  background: #ddd;
  width: 100%;
  border: solid 4px #ddd;
}

.buttonsList > li {
  padding: 2em;
  display: inline-block;
}
